<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080333670709-md2qv1t9qtjjn7eq7b7fnpsrvtc9ssch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080333670709-md2qv1t9qtjjn7eq7b7fnpsrvtc9ssch</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1080333670709-d1e2q1cd2gamo3qelb07o3ruqhb3ihee.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBB9mBj4jQrahwGNdPJYzxpzm32AP2kIxE</string>
	<key>GCM_SENDER_ID</key>
	<string>1080333670709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.terminiadmin.termini</string>
	<key>PROJECT_ID</key>
	<string>brainwave-social-media-c73b0</string>
	<key>STORAGE_BUCKET</key>
	<string>brainwave-social-media-c73b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080333670709:ios:90f047105b192e5c8e147c</string>
</dict>
</plist>